<!DOCTYPE html>
<html lang="en">
<head>
	<title>Let's Have Fun!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <script src="/assets/js/user.js"></script>
	<script src="/assets/js/events.js"></script>
	<script src="/assets/js/host.js"></script>

    <!--Google Font Links-->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet">

</head>
	<body>
		{{{ body }}}
		<footer class="footer">
	        <div class="container">
	            <p>
	            	<a href="/api/events/all" target="_blank">API Events List | </a>
	            	<a href="/api/users/all"  target="_blank">API Users List</a>
	            </p>
	        </div>
	    </footer>
		
	</body>
</html>
