<!DOCTYPE html>
<html lang="en">
<head>
	<title>Let's Have Fun!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <script src="/assets/js/user.js"></script>
	<script src="/assets/js/events.js"></script>
	<script src="/assets/js/host.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js"></script>


    <!--Google Font Links-->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet">
</head>
	<body>
		{{{ body }}}

        <nav class="navbar navbar-fixed-bottom" id="footer">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <a href="/api/events/all" target="_blank" id="apilink">API Events List | </a>
                    <a href="/api/users/all"  target="_blank" id="apilink"> API Users List | </a>
                    <a href="/contact" target="_blank" id="devbttn"> Complain to the Devs</a>
                </ul>
            </div>
        </nav>

    <style>
        footer{
            color: transparent !important;
        }

        #apilink{
            color: gold;
        }

        #devbttn{
            color: gold;
        }

    </style>

	</body>
</html>
