{{!-- Tarciso Changes from here Everyhitng was kept just format was added keep if you like--}}
    <div class="container col-sm-offset-3 col-sm-6 col-sm-offset-3">
        <h1>Send e-mail to the developers:</h1>

        <form action="../controllers/form-action.php">
            <label class="col-sm-12">
                Name:
                <br>
                <input type="text" name="name" id="name" class="validate">
            </label>
            <br>
            <label class="col-sm-12">
                E-mail:
                <br>
                <input type="text" name="email" id="email" class="validate">
            </label>
            <br>
            <label class="col-sm-12">
                Comment:
                <br>
                <textarea type="text" name="comment" size="50" rows="6" id="comment" class="validate"></textarea><br><br>
            </label>
            <input type="submit" value="Send" id="send" href="/logout">
            <input type="reset" value="Reset">
        </form>
    </div>

<script type="text/javascript">

    $("#send").on("click", function(){
        if(checkValid() === true){
            var name = $("#name").val().trim();
            var email = $("#email").val().trim();
            var comment = $("#comment").val().trim();
            var contact = {
                name,
                email,
                comment
            }

            $.ajax({
                url: "/api/contact",
                method: "POST",
                data: contact
            }).then(function(answer){
                console.log(answer);
            })
        }
        else{
            return false;
        }

    });
    function checkValid() {
     var validate = true;
//                check name and photo validate
        $(".validate").each(function () {
            if ($(this).val() === "") {
                validate = false;
            }
        });
        return validate;
    };
</script>

<style type="text/css">
    body{
        background-color: cornsilk;
        text-align: center;
    }
    input{
        width: inherit;
    }
    textarea{
        width: inherit
    }
</style>
{{!-- Tarciso changes to here --}}
