<row>
    <div class="container col-sm-offset-3 col-sm-6 col-sm-offset-3">
        <h2>Send e-mail to the develoupers:</h2>

        <form action="mailto:soccerkid94.17@gmail.com" method="post" enctype="text/plain">
            Name:<br>
            <input type="text" name="name"><br>
            E-mail:<br>
            <input type="text" name="mail"><br>
            Comment:<br>
            <input type="text" name="comment" size="50"><br><br>
            <input type="submit" value="Send">
            <input type="reset" value="Reset">
        </form>
    </div>
</row>

<style type="text/css">
    body{
        background-color: cornsilk;
        text-align: center;
    }
</style>