    <div class="container col-sm-12">
        <!--EVENT THE GUEST IS BEST MATCHED TOO-->
        <div class="container col-sm-8 left">
            <h1>This event is best suited for you!</h1>
            <div class="panel panel-default col-sm-offset-2 col-sm-8 col-sm-offset-2">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <!--SIMILAR EVENTS TO THE BEST EVENT-->
        <div class="container col-sm-offset-1 col-sm-3 right">
            <h1>Other Events</h1>
            <div class="panel panel-default">
                <div class="panel-body">
                    Basic panel example
                </div>
            </div>
        </div>
    </div>

<style type="text/css">
    body{
        background-image: url("../assets/images/cesar-couto-420986.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 100%;
    }

    .left{
        text-align: center;
    }

    .right{
        text-align: center;
    }
</style>