    <h1>Your Events</h1>

    <a href="/host" type="submit" class="btn btn-success" role="button">Make New Event</a>

    <div class="row eventsArea">
        <div class="col-sm-offset-2 col-sm-2">
            <a href="#" class="thumbnail">
                <img src="http://via.placeholder.com/300x300" alt="...">
            </a>

            <a href="#" class="thumbnail">
                <img src="http://via.placeholder.com/300x300" alt="...">
            </a>
        </div>

        <div class="col-sm-2">
            <a href="#" class="thumbnail">
                <img src="http://via.placeholder.com/300x300" alt="...">
            </a>

            <a href="#" class="thumbnail">
                <img src="http://via.placeholder.com/300x300" alt="...">
            </a>
        </div>

        <div class="col-sm-2">
            <a href="#" class="thumbnail">
                <img src="http://via.placeholder.com/300x300" alt="...">
            </a>

            <a href="#" class="thumbnail">
                <img src="http://via.placeholder.com/300x300" alt="...">
            </a>
        </div>

        <div class="col-sm-2">
            <a href="#" class="thumbnail">
                <img src="http://via.placeholder.com/300x300" alt="...">
            </a>

            <a href="#" class="thumbnail">
                <img src="http://via.placeholder.com/300x300" alt="...">
            </a>
        </div>
    </div>

    <a href="/host" type="submit" class="btn btn-success" role="button">Make New Event</a>

<style type="text/css">
    body{
        background-image: url("../assets/images/dose-media-424261.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 100%;
        text-align: center;
    }

    .eventsArea{
        text-align: center;
        margin-top: 50px;
    }
</style>
