  <div class="container">
    <h1>EVENT</h1>
      <div class="row">
        <h1>Hello <span id="name_here"></span></h1>
      {{!-- <form id="event-form" class="col-md-6">
        <h1 class="col-md-12">New EVENT</h1>
        <div class="col-md-12 breadcrumb">
          <input placeholder="Event Name" id="event_name" type="name" style="width: 100%;" />
        </div>
        <div class="col-md-12 breadcrumb">
          <input placeholder="Category" id="category" type="email" style="width: 100%;" />
        </div>
        <div class="col-md-12 breadcrumb">
          <textarea placeholder="Description" rows="5" id="description" type="text" style="width: 100%;"></textarea>
        </div>
        <div class="col-md-12">
          <button type="submit" id="submit" class="btn btn-default">Submit</button>>
        </div>
      </form> --}}
    </div>
  </div>





































{{!-- 
  <div class="container">
      <div class="row">
      <form id="event-form" class="col-md-6">
        <h1 class="col-md-12">New User</h1>
        <div class="col-md-12 breadcrumb">
          <input placeholder="Name" id="event_name" type="name" style="width:inherit;" />
        </div>
        <div class="col-md-12 breadcrumb">
          <input placeholder="Email" id="event_email" type="email" style="width:inherit;" />
        </div>
        <div class="col-md-12 breadcrumb">
          <input placeholder="Password" id="event_password" type="password" style="width:inherit;" />
        </div>
        <div class="col-md-12">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">What Would Like to do?
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" id="events">Go to Event</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" id="host">Host an Event</a></li>
          </ul>
        </div>
        </div>
        
      </form>
    </div>
  </div> --}}