<div class="container col-sm-12">
    <!--<img src="../assets/images/cesar-couto-420986.jpg">-->
              <div class="row">
            <div class=" col-sm-12 profile">
                    <img src="../assets/images/cesar-couto-420986.jpg" alt="userImage">
                    <a id="colorGold" class="User" href="/profile">User Name</a>
                    <span id="colorGold"> | </span>
                    <a id="colorGold" class="logout" href="/logout">Log Out</a>
                </div>
            </div>


    <div class="container col-sm-12">
        <!--EVENT THE GUEST IS BEST MATCHED TOO-->
        <div class="container col-sm-8 left">
            <h1 style="text-align: center" >This event is best suited for you!</h1>
            <!--<div class="panel panel-default col-sm-offset-2 col-sm-8 col-sm-offset-2">-->
                <!--<div class="panel-heading">-->
                    <!--<h3 class="panel-title">Panel title</h3>-->
                <!--</div>-->
                <!--<div class="panel-body">-->
                    <!--Panel content-->
                    <!---->
                <!--</div>-->
            <!--</div>-->
        <!-- </div> -->
        <!-- <div class="row"> -->
            <!--EVENT THE GUEST IS BEST MATCHED TOO-->
            <div class="text-center">
                <h1 class="col-sm-12 jumbotron eventsForYou">Events for You<hr></h1>
                <div class="mainSection"></div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-fixed-bottom" id="footer">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <a href="/api/events/all" target="_blank" id="apilink">API Events List | </a>
                <a href="/api/users/all"  target="_blank" id="apilink"> API Users List | </a>
                <a href="/contact" target="_blank" id="devbttn"> Complain to the Devs</a>
            </ul>
        </div>
    </nav>
</div>

<script>
    var email = localStorage.getItem("email");
    console.log(localStorage.getItem("email"));
    $(".User").text(email);
    var user = {
        email
    };
//        var survey;
//                $.ajax({
//                    url:"/findUser",
//                    method:"GET",
//                    data: user
//                }).then(function(answer){
//
//                    console.log( "This is survey: " + answer.survey);
//                    survey = answer.survey; // soccer

                $.ajax({
                    type:"GET",
                    url:"/ticketmaster/" + email,
                    async:true,
//                    data:user,
                    dataType: "json",
                    success: function(json) {
                        
                        console.log(json.length);

                            for (var j = 0; j < json.length; j++) {
                                for (var i = 0; i < 4; i++) {
                                    if (json[j]._embedded.events[i]._embedded.venues[0].boxOfficeInfo !== undefined) {
                                        var box =   `<div class="col-sm-3">
                                                <div class="thumbnail">
                                                    <span style="position: absolute; left: 10%; font-weight: bold">`+ json[j]._embedded.events[i]._embedded.venues[0].name +`</span>
                                                    <img src="`+ json[j]._embedded.events[i]._embedded.venues[0].images[0].url +`" alt="image">
                                                    <div class="caption">
                                                        <h3>`+ json[j]._embedded.events[i].name +`</h3><hr>
                                                        <p>`+ json[j]._embedded.events[i].dates.start.localDate +`</p>
                                                        <p>`+ json[j]._embedded.events[i]._embedded.venues[0].boxOfficeInfo.phoneNumberDetail +`</p>
                                                        <p><a href="`+ json[j]._embedded.events[i].url +`" class="btn btn-success " role="button" style="width: 100%" target="_blank">Get Your Ticket Now!</a></p>
                                                    </div>
                                                </div>
                                            </div>`;
                                        $(".mainSection").append(box);
                                    } else if(json[j]._embedded.events[i]._embedded.venues[0].images[0].url !== undefined) {
                                        var box = `<div class="col-sm-3">
                                                <div class="thumbnail">
                                                    <span style="position: absolute; left: 10%; font-weight: bold">`+ json[j]._embedded.events[i]._embedded.venues[0].name +`</span>
                                                    <img src="`+ json[j]._embedded.events[i]._embedded.venues[0].images[0].url +`" alt="image">
                                                    <div class="caption">
                                                        <h3>`+ json[j]._embedded.events[i].name +`</h3><hr>
                                                        <p>`+ json[j]._embedded.events[i].dates.start.localDate +`</p>
                                                        <p><a href="`+ json[j]._embedded.events[i].url +`" class="btn btn-success " role="button" style="width: 100%" target="_blank">Get Your Ticket Now!</a></p>
                                                    </div>
                                                </div>
                                            </div>`;
                                        $(".mainSection").append(box);

                                    }
                                }
                            }
                        // Parse the response.
                        // Do other things.
                    },
                    error: function(xhr, status, err) {
                        // This time, we do not end up here!
                    }
                });
//                });

</script>

<style>
    body{
        background-image: url("../assets/images/cesar-couto-420986.jpg");
        background-size: cover;
    }
    .profile img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    #event{
        width: 100%;
    }

    footer{
        color: transparent !important;
    }

    #colorGold{
        color: gold;
    }
    .container{
        width: 90%;
    }
    .profile{
        text-align: right;
        position: relative;
        padding: 5px 30px 0 30px;
    }

</style>