<div class="container">
  <div class="row">
    <h1 class="col-lg-12 text-center jumbotron"> FRONT PAGE </h1>

    <div class="col-lg-6 breadcrumb"> 
      <h2 class="col-lg-12 text-center">SIGN UP</h2>

      <form class="user-form col-lg-12 col-md-12" action="api/create/user" method="POST">
          <br>
        <div class="form-group col-lg-12">
          <input placeholder="Name" type="text" id="user_name" style="width: inherit">
        </div>
          <br>
        <div class="form-group col-lg-12">
          <input placeholder="Email" type="text" id="user_email" style="width: inherit">
        </div>
          <br>
        <div class="form-group col-lg-12">
          <input placeholder="Password" type="text" id="user_password" style="width: inherit">
        </div>
        <div class="col-lg-12">
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
      </form>
      {{!-- <div id="name-display"></div> --}}
  </div>
</div>