	<div class="container">
		<h1>FRONT PAGE</h1>
		<div class="row top-30">
      	<div class="col-md-2 col-sm-2 col-md-offset-2">
        	<a class="btn btn-default" href="/signin">Sign in</a>
     	</div>
		<div class="col-md-2 col-sm-2">
       		<a class="btn btn-default" href="/signup">Sign up</a>
      	</div>
    </div>
