<div class="container-fluid col-sm-12">

    <img src="../assets/images/frank-mckenna-150516.jpg">

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <br>
                <br>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title" id="surveyPanel">
                                <a data-toggle="collapse" href="#collapse1">Survey</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <form id="MyForm" name="MyForm">
                                    <fieldset>
                                        <form name="form1" id="q1">
                                        <div id="panel">
                                            <p>What is your favorite sport?</p>
                                            <input type="radio" name="radio-choice" id="radio-choice-1" value="football" />
                                            <label for="radio-choice-1" id="test">Football</label>

                                            <input type="radio" name="radio-choice" id="radio-choice-2" value="soccer" />
                                            <label for="radio-choice-2">Soccer</label>

                                            <input type="radio" name="radio-choice" id="radio-choice-3" value="hockey" />
                                            <label for="radio-choice-3" id="test">Hockey</label>

                                            <input type="radio" name="radio-choice" id="radio-choice-4" value="" />
                                            <label for="radio-choice-4">I don't like Sports</label>
                                        </div>
                                        </form>
                                        <form>
                                        <div id="panel">
                                            <p>What is your favorite music genre?</p>
                                            <input type="radio" name="radio-choice" id="radio-choice-1" value="country" />
                                            <label for="radio-choice-1" id="test">Country</label>

                                            <input type="radio" name="radio-choice" id="radio-choice-2" value="rap" />
                                            <label for="radio-choice-2">Rap/HipHop</label>

                                            <input type="radio" name="radio-choice" id="radio-choice-3" value="rock" />
                                            <label for="radio-choice-3" id="test">Rock and Roll</label>

                                            <input type="radio" name="radio-choice" id="radio-choice-4" value="" />
                                            <label for="radio-choice-4">I don't like music</label>
                                        </div>
                                        </form>

                                        <form>
                                        <div id="panel">
                                            <p>Do you like theatre?</p>
                                            <input type="radio" name="radio-choice" id="radio-choice-1" value="theatre" />
                                            <label for="radio-choice-1" id="test">Yes</label>

                                            <input type="radio" name="radio-choice" id="radio-choice-2" value="" />
                                            <label for="radio-choice-2">No</label>
                                        </div>
                                        </form>

                                        <form>
                                        <div id="panel">
                                            <p>What about these events?</p>
                                            <input type="radio" name="radio-choice" id="radio-choice-1" value="comedy" />
                                            <label for="radio-choice-1" id="test">Comedy</label>

                                            <input type="radio" name="radio-choice" id="radio-choice-2" value="ice show" />
                                            <label for="radio-choice-2">Ice Show</label>

                                            <input type="radio" name="radio-choice" id="radio-choice-3" value="food" />
                                            <label for="radio-choice-3" id="test">Food Tastings</label>

                                            <input type="radio" name="radio-choice" id="radio-choice-4" value="family" />
                                            <label for="radio-choice-4">Family Events</label>
                                        </div>
                                        </form>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-primary" type="button"  id="submitsurvey">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 clear-fix">
                <br>
                <br>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a id="camera" data-toggle="collapse" href="#collapse2">Profile Picture</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="text-center">
                                <video id="video" width="440" height="280" autoplay="false"></video>
                                <canvas id="canvas" width="440" height="280"></canvas>
                            </div>
                            <div class="text-center">
                                <button id="snap">Snap Photo</button>
                                <button id="retake">Retake</button>
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-primary" type="button"  id="submitpicture">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-fixed-bottom" id="footer">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <a href="/api/events/all" target="_blank" id="apilink">API Events List | </a>
                    <a href="/api/users/all"  target="_blank" id="apilink"> API Users List | </a>
                    <a href="/contact" target="_blank" id="devbttn"> Complain to the Devs</a>
                </ul>
            </div>
        </nav>

    </div>
</div>

    <a id="complete" href="/eventsToAttend"> SUBMIT </a>

<script>
    var choices = [];
    var theData;
    var check;
    var email = localStorage.getItem("email");
    console.log(email);

//    function checkValid() {
//        var validate = true;
//
////                check choices are valid
//        $(".choices").each(function () {
//            if($(this).val() === "") {
//                validate = false;
//            }
//        });
//        return validate;
//    }

//    var q1 = $("#q1").val();
    $(function() {
        $('input[type="radio"]').change(function() {
            var surveyResult = this.value;

            choices.push(surveyResult);
//            convert array to string for database
            theData = choices.toString();
        });
    });





    $("#complete").on("click", function () {
//        send data as an object for ajax call
        var sendData = {
            choices: theData
        };

        $.ajax({
            method: "PUT",
            url: "/api/survey/" + email,
//            dateType: "json",
            data: sendData
//            success: function (json) {
////                var userInfo = json;
//                console.log(json);
//            }
        }).then(function () {
//            location.href =
        })


    });




</script>


<style type="text/css">
    img{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -999;
        height: 100vh;
        width: 100vw;
    }

    h2{
        text-align: center;
    }

    h4{
        text-align: center;
    }

    form p{
        font-style: strong;
        font-size: 20px;
        display: table;
        margin: auto;
    }

    label{
        padding-top: 5px;
        padding-bottom: 22px;
    }

    .card-body{
        background-color: white;
    }

    .card-body p{
        font-style: italic;
    }

    #submitsurvey{
        display: table;
        margin: auto;
        background: transparent;
        color: black;
    }

    #submitpicture{
        display: table;
        margin: auto;
        background: transparent;
        color: black;
    }

    .panel{
        text-align: center;
    }

    .panel-body{
        margin: auto;
        /*text-align: center;*/
    }

    .container{
        width: 90%;
    }

    #canvas{
        display: none;
    }

    /*.panel-default > .panel-heading {*/
    /*background-color: transparent;*/
    /*}*/


</style>