<p>
    <!--<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Survey</a>-->
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Survey</button>
    <button id="picturebttn" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#pictureContent" aria-expanded="false" aria-controls="collapseExample">Picture</button>
</p>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <div class="container questions">
                <p>Question 1: What is your favorite sport? </p>
                <form>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="football">Football
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="soccer">Soccer
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="basketball">Basketball
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="hockey">Hockey
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">I Don't Like Sports
                    </label>
                </form>
                <p>Question 2: What is your favorite music genre? </p>
                <form>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="country">Country
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="rock">Rock & Roll
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="pop">Pop
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="rap">Rap
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">I Don't Like Music
                    </label>
                </form>
                <p>Question 3: Do you like theatre? </p>
                <form>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="theatre">Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">No
                    </label>
                </form>
                <p>Question 4: What about these kind of events? </p>
                <form>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="comedy">Comedy
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="ice shows">Ice Shows
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="casino">Casinos
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="food">Food and Drink Tasting
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="family">Family Events Only
                    </label>
                </form>
            </div>
        </div>
    </div>

    <div class="collapse" id="pictureContent">
        <div class="card card-body">
            <h4>Smile!</h4>
            <img src="half-stick-figure.png" id="imagepreview">
        </div>
        <video id="video" width="640" height="480" autoplay="false"></video>
        <button id="snap">Snap Photo</button>
        <canvas id="canvas" width="640" height="480"></canvas>
  </div>

</div>
        </div>
    </div>

        <!--This button leads to the events the user should go to, appears ONLY after survey and picture are done-->
        <div>
            <a href="/eventsToAttend" type="button" class="btn btn-success" role="button">Continue</a>
            <a href="/contact" type="submit" class="btn btn-success btn-block" role="button">Complain to the Devs</a>
        </div>

    <script>
        $(document).ready(function(){
            $("#surveybttn").click(function(){
                $("#surveymodal").modal();
            });
            $("#picturebttn").click(function(){
                $("#picturemodal").modal();
            });
        });
    </script>

<style type="text/css">
    body{
        background-image: url("../assets/images/frank-mckenna-150516.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 100%;
    }

    h4{
        text-align: center;
    }

    label{
        text-align: center;
    }
</style>