<div class="container">
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-default btn-lg" id="surveybttn">Survey</button>
        <button type="button" class="btn btn-default btn-lg" id="picturebttn">Picture</button>

        <!-- Guest Modal -->
        <div class="modal fade" id="surveymodal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4>Survey</h4>
                    </div>
                    <div class="container questions">
                        <p>Question 1:</p>
                        <form>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 3
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 4
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 5
                            </label>
                        </form>

                        <p>Question 2:</p>
                        <form>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 3
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 4
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 5
                            </label>
                        </form>

                        <p>Question 3:</p>
                        <form>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 3
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 4
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 5
                            </label>
                        </form>

                        <p>Question 4:</p>
                        <form>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 3
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 4
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 5
                            </label>
                        </form>

                        <p>Question 5:</p>
                        <form>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 3
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 4
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 5
                            </label>
                        </form>

                        <p>Question 6:</p>
                        <form>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 3
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 4
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 5
                            </label>
                        </form>

                        <p>Question 7:</p>
                        <form>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 3
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 4
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 5
                            </label>
                        </form>

                        <p>Question 8:</p>
                        <form>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 3
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 4
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 5
                            </label>
                        </form>

                        <p>Question 9:</p>
                        <form>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 3
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 4
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 5
                            </label>
                        </form>

                        <p>Question 10:</p>
                        <form>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 3
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 4
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Option 5
                            </label>
                        </form>
                        <button type="button" class="btn btn-default" id="surveySubmitbttn">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Host Modal -->
        <div class="modal fade" id="picturemodal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4>Smile!</h4>
                        <img src="half-stick-figure.png" id="imagepreview" style="width: 400px; height: 264px;" >
                    </div>
                </div>
            </div>
        </div>
        <!--This button leads to the events the user should go to, appears ONLY after survey and picture are done-->
        <div>
            <a href="/eventsToAttend" type="button" class="btn btn-success" role="button">Continue</a>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#surveybttn").click(function(){
                $("#surveymodal").modal();
            });
        });

        $(document).ready(function(){
            $("#picturebttn").click(function(){
                $("#picturemodal").modal();
            });
        });
    </script>

<style type="text/css">
    body{
        background-image: url("../assets/images/frank-mckenna-150516.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 100%;
    }

    h4{
        text-align: center;
    }

    label{
        text-align: center;
    }
</style>