<div class="container-fluid col-sm-12">

    <img id="img" src="../assets/images/frank-mckenna-150516.jpg">

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <br>
                <br>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title" id="surveyPanel">
                                <a data-toggle="collapse" href="#collapse1">Survey</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <form id="MyForm" name="MyForm">
                                    <fieldset>
                                        <form name="form1" id="q1">
                                        <div id="panel">
                                            <p>What is your favorite sport?</p>
                                            <input type="radio" name="radio-choice" id="radio-choice-1" value="football" />
                                            <label for="radio-choice-1" id="test">Football</label>

                                            <input type="radio" name="radio-choice" id="radio-choice-2" value="baseball" />
                                            <label for="radio-choice-2">Baseball</label>

                                            <input type="radio" name="radio-choice" id="radio-choice-3" value="basketball" />
                                            <label for="radio-choice-3" id="test">Basketball</label>

                                            <input type="radio" name="radio-choice" id="radio-choice-4" value="" />
                                            <label for="radio-choice-4">I don't like Sports</label>
                                        </div>
                                        </form>
                                        <form>
                                        <div id="panel">
                                            <p>What is your favorite music genre?</p>
                                            <input type="radio" name="radio-choice" id="radio-choice-1" value="country" />
                                            <label for="radio-choice-1" id="test">Country</label>

                                            <input type="radio" name="radio-choice" id="radio-choice-2" value="rap" />
                                            <label for="radio-choice-2">Rap/HipHop</label>

                                            <input type="radio" name="radio-choice" id="radio-choice-3" value="rock" />
                                            <label for="radio-choice-3" id="test">Rock and Roll</label>

                                            <input type="radio" name="radio-choice" id="radio-choice-4" value="" />
                                            <label for="radio-choice-4">I don't like music</label>
                                        </div>
                                        </form>

                                        <form>
                                        <div id="panel">
                                            <p>Do you like theatre?</p>
                                            <input type="radio" name="radio-choice" id="radio-choice-1" value="theatre" />
                                            <label for="radio-choice-1" id="test">Yes</label>

                                            <input type="radio" name="radio-choice" id="radio-choice-2" value="" />
                                            <label for="radio-choice-2">No</label>
                                        </div>
                                        </form>

                                        <form>
                                        <div id="panel">
                                            <p>What about these events?</p>
                                            <input type="radio" name="radio-choice" id="radio-choice-1" value="comedy" />
                                            <label for="radio-choice-1" id="test">Comedy</label>

                                            <input type="radio" name="radio-choice" id="radio-choice-2" value="ice show" />
                                            <label for="radio-choice-2">Ice Show</label>

                                            <input type="radio" name="radio-choice" id="radio-choice-3" value="food" />
                                            <label for="radio-choice-3" id="test">Food Tastings</label>

                                            <input type="radio" name="radio-choice" id="radio-choice-4" value="family" />
                                            <label for="radio-choice-4">Family Events</label>
                                        </div>
                                        </form>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-primary" type="button"  id="submitsurvey">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <br>
                <br>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <p>Profile Picture</p>
                            </h4>
                        </div>
                        <div class="panel-body">
                            <input type="file" id="bannerImg" />
                            <div>
                            <img src="" id="tableBanner" style="width: 100px; height: 100px; border-radius: 50%" />
                            </div>
                            <!-- for result output -->
                            <div id="res"></div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-fixed-bottom" id="footer">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <a href="/api/events/all" target="_blank" id="apilink">API Events List | </a>
                    <a href="/api/users/all"  target="_blank" id="apilink"> API Users List | </a>
                    <a href="/contact" target="_blank" id="devbttn"> Complain to the Devs</a>
                </ul>
            </div>
        </nav>

    </div>
</div>

    <a id="complete" href="/eventsToAttend"><button> SUBMIT </button></a>

<script>

// Get all variables
var bannerImage = document.getElementById('bannerImg');
var result = document.getElementById('res');
var img = document.getElementById('tableBanner');

// Add a change listener to the file input to inspect the uploaded file.
bannerImage.addEventListener('change', function() {
    var file = this.files[0];
    // Basic type checking.
    if (file.type.indexOf('image') < 0) {
        res.innerHTML = 'invalid type';
        return;
    }

    // Create a file reader
    var fReader = new FileReader();

    // Add complete behavior
    fReader.onload = function() {
        // Show the uploaded image to banner.
        img.src = fReader.result;

        // Save it when data complete.
        // Use your function will ensure the format is png.
        localStorage.setItem("imgData", getBase64Image(img));
        // You can just use as its already a string.
        // localStorage.setItem("imgData", fReader.result);
    };

    // Read the file to DataURL format.
    fReader.readAsDataURL(file);
});

function getBase64Image(img) {
    var canvas = document.createElement("canvas");
    canvas.width = img.width;
    canvas.height = img.height;

    var ctx = canvas.getContext("2d");
    ctx.drawImage(img, 0, 0);

    var dataURL = canvas.toDataURL("image/png");

    return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
}

function fetchimage () {
    var dataImage = localStorage.getItem('imgData');
    img.src = "data:image/png;base64," + dataImage;
    // If you don't process the url with getBase64Image, you can just use
    // img.src = dataImage;
}

// Call fetch to get image from localStorage.
// So each time you reload the page, the image in localstorage will be 
// put on tableBanner
fetchimage();

    var choices = [];
    var theData;
    var check;
    var email = localStorage.getItem("email");
    console.log(email);

    $("#submitsurvey").on("click", function () {
//        toggle the survey to collapse on click by removing class
        $("#collapse1").removeClass("in");
        $("#collapse2").addClass("in")
    });

    $("#submitpicture").on("click", function () {
        $("#collapse2").removeClass("in");
    });

    $(function() {
        $('input[type="radio"]').change(function() {
            var surveyResult = this.value;

            choices.push(surveyResult);
//            convert array to string for database
            theData = choices.toString();
        });
    });





    $("#complete").on("click", function () {
//        send data as an object for ajax call
        var sendData = {
            choices: theData
        };

        $.ajax({
            method: "PUT",
            url: "/api/survey/" + email,
//            dateType: "json",
            data: sendData
//            success: function (json) {
////                var userInfo = json;
//                console.log(json);
//            }
        }).then(function () {
//            location.href =
        })


    });




</script>


<style type="text/css">
    #img{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -999;
        height: 100vh;
        width: 100vw;
    }

    h2{
        text-align: center;
    }

    h4{
        text-align: center;
    }

    form p{
        font-style: strong;
        font-size: 20px;
        display: table;
        margin: auto;
    }

    label{
        padding-top: 5px;
        padding-bottom: 22px;
    }

    .card-body{
        background-color: white;
    }

    .card-body p{
        font-style: italic;
    }

    #submitsurvey{
        display: table;
        margin: auto;
        background: transparent;
        color: black;
    }

    #submitpicture{
        display: table;
        margin: auto;
        background: transparent;
        color: black;
    }

    .panel{
        text-align: center;
    }

    .panel-body{
        margin: auto;
        /*text-align: center;*/
    }

    .container{
        width: 90%;
    }

    #canvas{
        display: none;
    }

    #complete{
        color: black;
        margin-top: 10px;
        display: table;
        margin: auto;
    }

    /*.panel-default > .panel-heading {*/
    /*background-color: transparent;*/
    /*}*/


</style>