<img src="../assets/images/jeff-brown-246388.jpg">

<row>
    <h1>Eventure</h1>
    <h5>The cure for lonely Friday Nights!</h5>
    <h5>Find events you would be interested in and meet people interesting!</h5>
</row>

<div class="container">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-default btn-lg" id="guestbttn">Enter</button>
    <!--<button type="button" class="btn btn-default btn-lg" id="hostbttn">Host</button>-->

    <!-- Guest Modal -->
    <div class="modal fade" id="guestmodal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>WELCOME!</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form">
                        <div class="form-group">
                            <label for="username">Email</label>
                            <input type="text" class="form-control" id="username" placeholder="johnDoe@email.com">
                        </div>
                        <div class="form-group">
                            <label for="email">Password</label>
                            <input type="text" class="form-control" id="email" placeholder="Password">
                        </div>
                        <a type="submit" class="btn btn-success btn-block" role="button">Enter</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script>
    $(document).ready(function(){
        $("#guestbttn").click(function(){
            $("#guestmodal").modal();
        });
    });
</script>

<style type="text/css">
    img{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100vh;
        width: 100vw;
    }

    h1{
        font-size: 250px;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 150px;
        color: ghostwhite;
    }

    h5{
        font-size: 30px;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        margin-top: 20px;
        color: ghostwhite;
    }

    #guestbttn{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 40px;
        color: #f9f9f9;
        margin-top: 300px;
        display: table;
        margin: auto;
        background-color: transparent;
        padding-bottom: 0 !important;
    }

    .modal-header, h4, .close {
        background-image: url("../assets/images/stardust.png");
        color: white !important;
        text-align: center;
        font-size: 30px;
        font-family: 'Josefin Sans', sans-serif;
    }
    .modal-footer {
        background-color: #f9f9f9;
    }

</style>