<div class="container">
  <div class="row">
    <h1 class="col-lg-12 text-center jumbotron">Management</h1>
      <ol class="col-lg-12">
        {{#each manage}}
            {{> manage/manage-block}}
        {{/each}}
      </ol>
  </div>
</div>