
<!--<div class="container">-->
    <!--<div class="fb-profile">-->
        <!--<img align="left" id="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" /> <br>-->
        <!--<img id="pro" src="http://www.fogosglobo.com.br/img/250x250-circle.png" />-->
        <!--<div class="fb-profile-text">-->
            <!--<h1 id="profile-name" > </h1>-->
            <!--<p>  </p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>               &lt;!&ndash; /container &ndash;&gt;-->

<nav class="navbar navbar-inverse nav-center">
    <div class="container-fluid">
        <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" href="#">WebSiteName</a>-->
        <!--</div>-->
        <ul class="nav">
            <li><a href="/eventsToAttend">Your Events</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
</nav>

<div>
    <div class="images-holder" >
        <img id="background-personal" src="./assets/images/profile-back.jpg" />
        <div id="personal-image" class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
            <img id="myImage" src="http://www.fogosglobo.com.br/img/250x250-circle.png" />
        </div>
    </div>
    <div class="container">
        <div class="col-sm-offset-1 col-sm-6 left">
            <div class="well well-sm">
                    <h3 id="profile-name" > </h3>
                <div>
                    <h5 id="dob"> DOB </h5>
                </div>
            </div>
        </div>

        <div class=" col-sm-4">
            <div class="well right">
                <div id="all-buttons">
                    <button></button>
                    <button></button>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="./assets/js/profile.js"> </script>

<style type="text/css" >
    body {
        /*background-image: url("./assets/images/welcomebackground.jpg");*/
        background: #63ead1;
    }

    .images-holder {
        text-align: center;
        margin: 1%;
    }

    #background-personal {
        width: 1100px;
        height: 400px;
        max-width: 90%;
        max-height: 70%;
    }

    #myImage {
        height: 65% !important;
        width: 65% !important;
        text-align: center;
        margin: -50% 15% 15% 15%;
    }

    #profile-name {
        text-align: center;
    }

    nav.nav-center ul {
        text-align: center;
    }
    nav.nav-center ul li {
        display: inline-block;
        float: none;
    }

</style>

