
<div>

    <img class=".img-responsive background" src="../assets/images/aperture-vintage-346923.jpg">

    <div class="container col-sm-12" id="heading">
    </div>

    <div class="text-center">
        <img id="myImage" src="http://via.placeholder.com/250x250">
    </div>

    <div class="row">
        <div class="container bodyarea col-sm-12">
            <div class="container col-sm-offset-2 col-sm-4">
                <div class="well right">
                    <div id="all-buttons">
                        <h3 id="profile-name"></h3>
                            <h5 id="dob">DOB</h5>
                    </div>
                </div>
            </div>

            <div class="container col-sm-4">
                <div class="well right">
                    <div id="all-buttons">
                        <a href="/eventsToAttend">See Events</a>
                        <p>Or</p>
                        <a href="/guest">Retake Survey</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./assets/js/profile.js"></script>

    <style type="text/css">

        .background{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -999;
            height: 100vh;
            width: 100vw;
        }

        #myImage{
            margin-top: 70px;
            border-radius: 50%;
        }

        .bodyarea{
            margin-top: 50px;
        }

        #all-buttons{
            text-align: center;
        }

    </style>
