
<!--<div class="container">-->
    <!--<div class="fb-profile">-->
        <!--<img align="left" id="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" /> <br>-->
        <!--<img id="pro" src="http://www.fogosglobo.com.br/img/250x250-circle.png" />-->
        <!--<div class="fb-profile-text">-->
            <!--<h1 id="profile-name" > </h1>-->
            <!--<p>  </p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>               &lt;!&ndash; /container &ndash;&gt;-->

<nav class="navbar navbar-inverse nav-center">
    <div class="container-fluid">
        <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" href="#">WebSiteName</a>-->
        <!--</div>-->
        <ul class="nav">
            <li><a href="/eventsToAttend">Your Events</a></li>
            <!--<li class="navbar-header">-->
                <!--<a class="navbar-brand" href="#">WebSiteName</a>-->
            <!--</li>-->
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
</nav>

<div>
    <div class="large-image" >
        <img id="back" src="http://lorempixel.com/850/280/nightlife/5/" />
        <div id="personal-image" class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
            <img id="myImage" src="http://www.fogosglobo.com.br/img/250x250-circle.png" />
        </div>
    </div>
    <div class="container">
        <!--EVENT THE GUEST IS BEST MATCHED TOO-->
        <div class="container col-sm-8 left">
            <h1>This event is best suited for you!</h1>
            <div class="panel panel-default col-sm-offset-1 col-sm-8 col-sm-offset-2">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <!--SIMILAR EVENTS TO THE BEST EVENT-->
        <div class="container col-sm-offset-1 col-sm-3 right">
            <h1>Other Events</h1>
            <div class="panel panel-default">
                <div class="panel-body">
                    Basic panel example
                </div>
            </div>
        </div>
    </div>
</div>


<script src="./assets/js/profile.js"> </script>

<style type="text/css" >
    body {
        /*background-image: url("./assets/images/welcomebackground.jpg");*/
        background: #63ead1;
    }

    .large-image {
        text-align: center;
        margin: 1%;
    }

    #back {
        width: 85%;
        height: 60%;
    }

    #myImage {
        height: 65% !important;
        width: 65% !important;
        text-align: center;
        margin: -50% 15% 15% 15%;
    }

    nav.nav-center ul {
        text-align: center;
    }
    nav.nav-center ul li {
        display: inline-block;
        float: none;
    }

</style>

