<form id="signup" name="signup" method="post" action="/signup">
    <label for="email">Email Address</label>
    <input class="text" name="email" type="email" id="email" />

    <label for="name">Name</label>
    <input name="name" type="text" id="name"/>

    <label for="dob">D.O.B.</label>
    <input name="dob" type="date" id="dob"/>

    <label for="password">Password</label>
    <input name="password" type="password" />

    <input class="btn" type="submit" value="Sign Up" />
</form>