	<div class="container">
		<h1>SIGN UP</h1>
    	<div class="row">
			<form id="user-form" class="col-md-6">
				<h1 class="col-md-12">New User</h1>
				<div class="col-md-12 breadcrumb">
					<input placeholder="Name" id="user_name" type="name" style="width:inherit;" />
				</div>
				<div class="col-md-12 breadcrumb">
					<input placeholder="Email" id="user_email" type="email" style="width:inherit;" />
				</div>
				<div class="col-md-12 breadcrumb">
					<input placeholder="Password" id="user_password" type="password" style="width:inherit;" />
				</div>
				<div class="col-md-12">
					<a id="events" class="btn btn-default">Go to Events</a>
				</div>
			</form>
		</div>
	</div>
				{{!-- <div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">What Would Like to do?
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
						<li role="presentation"><a role="menuitem" tabindex="-1" id="events" href="/events">Go to Event</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" id="host" href="/host">Host an Event</a></li>
					</ul>
				</div> --}}