body{
    background-image: url("frank-mckenna-150516.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

h4{
    text-align: center;
}

label{
    text-align: center;
}